html{
	height: 100%;
}

body{
	background: #000;
	background-image:  -webkit-linear-gradient(#000000,#ffffff);
	background-size: cover;
}

#description{
	width: 90%;
	border: 1px solid red;
	margin-left: 5%;
	margin-top: 6em;
	background: #000000;
	background-image: -webkit-linear-gradient(#000000,#414142);
	color: #ffffff;
	text-align: center;
	font-style: italic;
	font-weight: 100!important;
	letter-spacing: 1px;
	border-radius: 0.5em;
}

#mainTitle{
	color: #ffffff;
	text-align: center;
	font-size: 4em;
	margin: 0;
}

#firebaseui-auth-container{
	margin-top: 6em;
}
.mainButtons{
	margin: auto;
	background: #ffffff;
	background-image:  -webkit-linear-gradient(#f7451d,#1d74f7);
	font-size: 5em;
	font-weight: 200;
	cursor: pointer;
	border-radius: 0.2em;
	text-align: center;
	width: 5em;
	opacity: .85;
}

#start{
	margin-top:7%;
}
#stop{
	margin-top:4%;
}

#time{
	font-size: 5em;
	margin-top: 5%;
	visibility: hidden;
	font-weight: 100;
	opacity: 0.5;
}

#userInput{
	display: inline-flex;
	margin: 0;
	
}

#title{
	color: white;
	font-weight: 200;
	font-style: italic;
	font-size: 2em;
	margin: 0;
}

#keywords{
	width: 50%;
	height: 5%;
	margin-top: 1%;
	margin-left:4%;
}

body input[type="text"]{
	font-size: 1.5em;
}

#SignOut{
	padding: 0.1em;
	font-size: 2em;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0.2em;
	margin-right: 0.2em;
	border-radius: 0.08em;
	cursor: pointer;
}